.my-div::after {
  content: "";
  position: absolute;
  top: 13.6;
  right: -9.8;
  display: block;
  width: 18px;
  height: 18px;
  background-color: rgba(196, 111, 61, 0);
  border-left-width: 8.8px;
  border-bottom-left-radius: 18;
  border-color: white;
  transform: rotate(-16deg);
}

.ProseMirror {
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
  line-height: 1.5;
  padding: 0.5rem;
}
